body{
    background-color: rgb(46, 46, 46);
}
h1{
    color: white;
    text-align: center;

}
#fußzeile{
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgb(86, 86, 86);
}
.button{
    font-size: 5rem;
    font-weight: bold;
    padding: 2.8em 2em;
    cursor: pointer;
    background-color: white;
    color:rgb(30, 30, 30);
    border: 2px solid rgb(70, 70, 70);
    border-radius: 0.5em;
}
button:hover{
    background-color: rgb(70, 70, 70);
    color: white;
}
#clock{
    color: white;
    font-size: 2em;
}
